body {
  font-family: monospace;
  font-size: 12px;
  max-width: 900px;
  margin: 0 auto 2em;
  background-color: ghostwhite;
}
.calendar-feed {
  margin: 10px 8px 10px 8px;;
  display: inline-block;
}
.calendar-feed span {
}
.daily-recur {
  background: green;
}
h1 {
  margin-bottom: 1em;
  padding-left: 40px; 
  text-align: left;
}
.box-tip {
  margin-top: 10px;
  border-radius: 3px;
  border-color: LightSkyBlue;
  border-width: 2px;
  border-style: solid;
}
.box-tip p {
  margin: 0;
  padding: 4px 4px;
  background-color: LightSkyBlue;
}
button {
  cursor: pointer;
  background-color: whitesmoke;
  border-color: gray;
  border-width: 1px;
  vertical-align: middle;
  border-radius: 4px;
}
